asforepa:
  serverUrl: "${ASFOREPA_URL:https://asforepa.dev.gematik.solutions}"
  idpDienstUrl: "https://idp-test.app.ti-dienste.de"
  clientID: "ePA"
  redirectUri: "${REDIRECT_URI:http://test-ps.gematik.de/ePA}"
  scopes: [ "epa", "openid" ]
server:
  port: ${SERVER_PORT:8086}
management:
  server:
    port: ${MANAGEMENT_PORT:8186}
  endpoints:
    web:
      exposure:
        include: "health"
    access:
      default: read_only
  endpoint:
    health:
      access: read_only
    metrics:
      access: read_only
    logfile:
      access: read_only
logging:
  level:
    de.gematik: ${LOG_LEVEL_GEMATIK:info}
  CommonsRequestLoggingEnabled: ${REQUEST_LOGGING_ENABLED:true}
